NODE_ENV=development
PORT=4002

BASE_URL=http://localhost:4002

CORS_ORIGIN=http://localhost:3002,http://localhost:5173

JWT_SECRET=sua-chave-secreta-aqui
JWT_EXPIRES_IN=24h

UPLOAD_DIR=./uploads

POSTGRES_USER=mindro
POSTGRES_PASSWORD=mindro
POSTGRES_DB=mindro

DATABASE_URL="postgresql://mindro:mindro@localhost:5432/mindro?schema=public"